h1 {
  font-size: 4em;
  color: #edd900;
  text-align: center;
}
h2 {
  font-size: 2.5em;
  color: #ffffff;
  margin-left: 5%;
}
body {
  background-image: url(/img/dice6.svg);
  background-color: #275c27;
  background-repeat: no-repeat;
  background-size: 35em;
  background-position-x: center;
  text-align: left;
}
button {
  background-color: #980000;
  border-color: #000000;
  color: #ffffff;
  padding: 1em 3em 1em 3em;
  font-size: 1em;
  margin: 2em;
  text-transform: uppercase;
  border-radius: 7%;
}
button:hover {
  background-color: #c91313;
}