body {
  background-color: #275c27;
  text-align: left;
}
h1 {
  font-size: 4em;
  color: #edd900;
  text-align: center;
}
.dice {
  border: 0.5em solid black;
  background-color: white;
  width: 30%;
}

button {
  background-color: #980000;
  border-color: #000000;
  color: #ffffff;
  padding: 1em 3em 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 7%;
}
button:hover {
  background-color: #c91313;
}